// Colors
$color__primary: #BF343D;
$color__primary--alt: #F4F3BA;
$color__gray--light: #f3f3f3;
$color__gray: #4E4C4D;
$color__gray--dark: #363435;

// Typography
$font__family--serif: 'Bitter', serif;
$font__family--sans: 'Open Sans', sans-serif;

// Font Sizes
$font__size--base: 1em;
// Line height
$font__line-height: 1.5;

// Modular Scale
$ms-base: 1em;
$ms-ratio: $fourth;

// Breakpoints
$breakpoints: (
  small: 600px,
  medium: 795px,
  large: 910px,
  xl: 1125px
);

// Typi
$typi: (
  null: (16px, 1.5),
  small: 18px,
  medium: 18px,
  large: 20px,
  xl: 20px
);
// If you use breakpoint
$typi-breakpoint: breakpoint;

// Animations
$transition__duration--base: 150ms;
$transition__timing--base: ease;

// General
$site__min-width: em(1024);
