<div class="c-pickform__container u-hidden" id="sign-up">
    <form id="js-songpick" class="c-pickform"><label for="i-pick" class="c-pickform__label">Sign Up</label>
      <div class="c-pickform__inputs">
        <label for="js-artist_input">Artist:</label>
        <input id="js-artist__input" name="i-artist" class="c-pickform__input" type="input" readonly>
        <label for="js-song_input">Song:</label>
        <input id="js-song__input" name="i-song" class="c-pickform__input" type="input" readonly>
        <label for="js-name_input">Your Name</label>
        <input id="js-name__input" name="i-name" class="c-pickform__input" type="input" required>
        <label for="js-phone_input">Cell #:</label>
        <input id="js-phone__input" name="i-phone" class="c-pickform__input" type="tel" placeholder="000-000-0000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" required>
        <input type="submit" class="c-pickform__submit">
      </div>
    </form>
  </div>
