h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p,
figure,
blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font__family--serif;
  font-size: 22px;
}

// Typi
$typi: (
  base: (
    null: (16px, 1.4),
    small: (18px),
    medium: 18px,
    large: 20px,
    xl: 20px
  ),
  h1: (
    null: (ms(1), vr(2)),
  ),
  h2: (
    null: (ms(2), 1.2),
    small: (ms(2), vr(2)),
  ),
  h3: (
    null: (ms(1), vr(1.25)),
  ),
  h4: (
    null: (ms(1), vr(1)),
  ),

);

// If you use breakpoint
$typi-breakpoint: breakpoint;

@include typi-init;

h1{
  @include typi(h1);
  text-transform: uppercase;
}
h2{
  @include typi(h2);
}
h3{
  @include typi(h3);
}
h4{
  @include typi(h4);
}
p {
  font-family: $font__family--sans;
  color: #fff;
}
