/* ==========================================================================
   #BREAKPOINTS
   ========================================================================== */

/**
 * Breakpoint map.
 *
 */

// Breakpoints
$breakpoints: (
 small: 600px,
 medium: 795px,
 large: 910px,
 xl: 1125px
);
