/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * Color Palette variables.
 *
 * 1. Set the default primary color
 * 2. Set an alternate primary color as a complement.
 * 3. Set default grays.
 */

// Colors - Primary
$color__primary: #BF343D;

// Colors - Alternative
$color__primary--alt: #F4F3BA;

// Colors - Grays
$color__gray--light: #f3f3f3;
$color__gray: #4E4C4D;
$color__gray--dark: #363435;
