/* ==========================================================================
 MAIN IMPORT
 ========================================================================== */

/**
* Mother Karaoke Search Site
*
* github.com/babycourageous/motherkaraoke.com
*/

/**
* This is the main manifest file. Make any additions, extensions, and
* modifications here.
*/

/**
* CONTENTS
*
* SETTINGS
* Global...............Project-wide variables and settings.
* Colors...............Project-wide colors.
* Typography...........Project-wide fonts.
* Transitions..........Project-wide transition settings.
* Breakpoints..........Project-wide breakpoint map.

*
* TOOLS
* Bourbon..............Mixin library.
* Breakpoint...........Breakpoint manager plugin.
* Modular Scale........Modular Scale calculator plugin.
* Typi.................Responsive Typography and Vertical Rhythm plugin.
* Mixins...............Project-specific mixins.
*
* GENERIC
* Normalize.css........A level playing field using @necolas’ Normalize.css.
* Reset................A tiny reset to complement Normalize.css.
* Box-sizing...........Better default `box-sizing`.
*
* ELEMENTS
* Page.................Set up our document’s default `font-size` and
*                      `line-height`.
* Typography...........Very minimal (i.e. only font-size information) for
*                      headings 1 through 6 and p.
*
* OBJECTS
* Wrapper..............Page constraint object.
* List-bare............Lists with no bullets or indents.
* List-inline..........A list whose items all site in a line.
* Box..................Simple boxing abstraction.
* Block................Image-on-top-of-text object.
*
* COMPONENTS
*
*
* UTILITIES
*/

// #SETTINGS
@import "settings.global";
@import "settings.colors";
@import "settings.typography";
@import "settings.transitions";
@import "settings.breakpoints";

// #TOOLS
@import 'bourbon';

// #GENERIC (and plugins)
@import 'normalize';
@import "generic.reset";
@import "generic.box-sizing";
@import 'breakpoint';
@import 'modular-scale';
@import "typi";

// #ELEMENTS
@import "elements.page";
@import "elements.typography";

// #OBJECTS
@import "objects.wrapper";
@import "objects.list-inline";

// #COMPONENTS
@import "components.header";
@import "components.loader";
@import "components.search";
@import "components.search-results";

@import "utilities.display";
