.searchform {
  padding: em(20);
  background-color: $color__gray--light;
  border-radius: 10px;

  &__container {
    margin: 15px auto 10px;
    padding: 0 em(10);
    max-width: 40em;
  }

  &__label {
    display: block;
    font-family: $font__family--serif;
    font-size: ms(1);
    color: $color__gray--dark;
    text-align: center;
  }

  &__inputs {
    display: flex;
    max-width: 30em;
    margin: 0 auto;
  }

  &__input {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid $color__gray;
    border-radius: 5px;
    font-family: $font__family--serif;
    flex: 1;
    transition: box-shadow 0.3s, border 0.3s;
    &:focus {
      outline: none;
      border: solid 1px $color__gray--dark;
      box-shadow: 0 0 5px 1px $color__gray--dark;
    }
  }

  &__submit {
    background-color: $color__primary;
    border: 1px solid $color__gray;
    border-radius: 5px;
    font-family: $font__family--serif;
    font-weight: 400;
    color: $color__primary--alt;
  }
}

.search {
  padding: 0 em(10) em(20);

  &__heading {
    color: $color__primary--alt;
    font-size: ms(2);
    text-align: center;
  }

  &__list {
    border: 2px solid $color__gray--dark;
    text-align: center;

  }

  &__artist {
    position: relative;
    padding: vr(.5);
    background-color: $color__primary;
    color: #fff;
    font-family: $font__family--serif;

    &:after {
      position: absolute;
      content: '';
      pointer-events: none;
      left: 50%;
      width: 10px;
      height: 10px;
      transform: translateX(-50%) rotate(45deg);
      bottom: -5px;
      z-index: 10;
      background: inherit;
    }
  }

  &__title {
    margin: 0;
    padding: vr(.5);
    font-family: $font__family--sans;
    background-color: black;
    //background-color: $color__gray--light;
    //color: $color__gray;

    /*&:nth-child(odd) {
      background-color: $color__gray--light;
      color: $color__gray;
    }
    &:nth-child(even) {
      background-color: $color__gray--dark;
      color: #fff;
    }*/
  }
}
