$header-background: $color__gray--dark;
$header-color: $color__primary--alt;
$header-border-color: $color__primary;

.header {
  background-color: $header-background;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: left center;

  height: 100px;
  padding-left: 100px;
  padding-right: 10px;
  border-bottom: 10px solid $header-border-color;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  &__heading {
    color: $header-color;
    text-align: right;

  }
}
